<%- include('_header') %>
<!-- event detail start -->
<div id="app" class="py-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row -mx-4">
      <div class="md:flex-1 px-4">
        <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
          <img class="w-full h-full object-cover" src="/images/networking.jpeg" alt="Product Image" />
        </div>
        <div class="flex -mx-2 mb-4">
          <div class="w-1/2 px-2">
            <form action="/user/book-event/<%= event._id %>" method="POST">
            <button type="submit" class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Book Ticket</button>
          </form>
          </div>
          <div class="w-1/2 px-2">
            <button class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">Add to Wishlist</button>
          </div>
        </div>
      </div>
      <div class="md:flex-1 px-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-2"><%= event.title  %></h2>
        <div>
          <span class="font-bold text-gray-700">Event Description:</span>
          <p class="text-gray-600 text-sm mt-2"><%= event.description %></p>
        </div>
        <div class="flex mb-4">
          <div class="mr-4">
            <span class="font-bold text-gray-700">Ticket Price:</span>
            <span class="text-gray-600">$29.99</span>
          </div>
          <div>
            <span class="font-bold text-gray-700">Event Date:</span>
            <span class="text-gray-600">29th March 2024</span>
          </div>
        </div>
        <div class="mb-4"></div>
        <div class="mb-4">
          <span class="font-bold text-gray-700">Number of Attendees:</span>
          <div class="flex items-center mt-2">
            <button class="bg-gray-300 text-gray-700 py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400">1</button>
            <button class="bg-gray-300 text-gray-700 py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400">2</button>
            <button class="bg-gray-300 text-gray-700 py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400">3</button>
            <button class="bg-gray-3000 text-gray-700 py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400">4</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- event detail end -->




</body>




</html>

